<div ng-controller="successController">
	<div class="container">
		<form class="addTaskForm" name="myForm" ng-submit="addTask()">
			<h3>Welcome {{name}}</h3>
			<input type="hidden" ng-model="userId">
			<input class="task form-control" type="text" ng-model="task" placeholder="Enter your task!">
			<button class="addTask btn btn-success">Add Task !</button>
			<div class="clear"></div>

			<ul class="list-group tasks">
				<li class="list-group-item" ng-repeat="task in taskArray" ng-class-odd="'list-group-item-success'">{{task}}</li>
			</ul>
		</form>
	</div>
</div>